@import 'tailwindcss';

:root {
  --border: #262626;
}

@theme {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --foreground-secondary: #e5e5e5;
  --gray: #a3a3a3;
  --border: #262626;
  --border-light: #404040;
}

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}
