/* Main */
#root {
  padding: 2rem;
  text-align: center;
  margin: auto;
  max-width: 800px;
}

html {
  background-color: #000;
}

/* Fonts */
@font-face {
  font-family: 'GeistMono-Bold';
  src: url('/GeistMono-Bold.ttf');
}

.geistMono-Bold {
  font-family: GeistMono-Bold;
}

@font-face {
  font-family: 'GeistMono-Regular';
  src: url('/GeistMono-Regular.ttf');
}

.geistMono-Regular {
  font-family: GeistMono-Regular;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #151515;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1b1b1b;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #000;
}
